.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-bottom: 100px; /* Ensure space at the bottom for the footer */
}

.service-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 12px; /* Adjusted padding */
  text-align: center;
  background-color: #fff;
  margin: 10px; /* Adjust the margin for better spacing */
  box-sizing: border-box; /* Ensure padding and border are included in width */
  transition: transform 0.3s ease-in-out;
  width: calc(33.333% - 20px); /* Default width for larger screens */
}

.service-card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px; /* Reduced margin */
}

.service-card h2 {
  font-size: 1.25rem; /* Adjusted font size */
  margin: 12px 0 6px; /* Adjusted margins */
}

.service-card p {
  font-size: 0.9rem; /* Adjusted font size */
  color: #666;
}
.service-card {
  position: relative;
  /* Other existing styles */
}

.book-now-btn {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px; /* Position button at the top */
  left: 50%;
  transform: translateX(-50%); /* Center button horizontally */
}

.book-now-btn:hover {
  background-color: #0056b3;
}

.service-card button {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 6px 12px; /* Reduced padding for a smaller button */
  font-size: 0.8rem; /* Adjusted font size for better fitting */
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for better visibility */
}

.service-card button:hover {
  background-color: #0056b3;
}

/* Media query for tablets and mobile devices */
@media (max-width: 768px) {
  .service-card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 480px) {
  .service-card {
    width: calc(50% - 20px); /* Two cards per row on mobile */
  }
  .service-card{
    font-size: small;
  }
}
